
module marketmayhem 1.0;

require {
	type admin_home_t;
	type fsdaemon_t;
	type soundd_port_t;
	type httpd_t;
	type nvme_device_t;
	class tcp_socket name_connect;
	class file { getattr open read };
	class chr_file read;
}

#============= fsdaemon_t ==============
allow fsdaemon_t nvme_device_t:chr_file read;

#============= httpd_t ==============

#!!!! The file '/var/www/html/squashfs.img' is mislabeled on your system.  
#!!!! Fix with $ restorecon -R -v /var/www/html/squashfs.img
allow httpd_t admin_home_t:file { getattr open read };

#!!!! This avc can be allowed using the boolean 'httpd_can_network_connect'
allow httpd_t soundd_port_t:tcp_socket name_connect;
