<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contribute To Market Mayhem Here</title>
    <link rel="stylesheet" href="/static/bootstrap.min.css"/>
    <!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-146418431-3"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-146418431-3');
	</script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script>
        $(document).on('change', '.div-toggle', function() {
            var target = $(this).data('target');
            var show = $("option:selected", this).data('show');
            $(target).children().addClass('hide');
            $(show).removeClass('hide');
        });
        $(document).ready(function(){
            $('.div-toggle').trigger('change');
        });
    </script>
    <style>
        .hide {
    display: none;
    }
    </style>
</head>
<body>


<div class="container justify-content-center" style="display: flex;max-width: 90%;">
<div class="card-deck">
        <div class="card-body d-flex justify-content-center" >
            <div class="row-cols-1 justify-content-center">
                <select class="div-toggle card-title just" style="width: 100%" data-target=".currencies">
                <option value="ZRX" data-show=".ZRX">0x (ZRX)</option>
                <option value="ALGO" data-show=".ALGO">Algorand (ALGO)</option>
                <option value="REP" data-show=".REP">Augur (REP)</option>
                <option value="BAT" data-show=".BAT">Basic Attention Token (BAT)</option>
                <option value="BTC" data-show=".BTC">Bitcoin (BTC)</option>
                <option value="BCH" data-show=".BCH">Bitcoin Cash (BCH)</option>
                <option value="LINK" data-show=".LINK">Chainlink (LINK)</option>
                <option value="COMP" data-show=".COMP">Compound (COMP)</option>
                <option value="ATOM" data-show=".ATOM">Cosmos (ATOM)</option>
                <option value="DAI" data-show=".DAI">Dai (DAI)</option>
                <option value="DASH" data-show=".DASH">Dash (DASH)</option>
                <option value="EOS" data-show=".EOS">EOS (EOS)</option>
                <option value="ETH" data-show=".ETH">Ethereum (ETH)</option>
                <option value="ETC" data-show=".ETC">Ethereum Classic (ETC)</option>
                <option value="KNC" data-show=".KNC">Kyber Network (KNC)</option>
                <option value="LTC" data-show=".LTC">Litecoin (LTC)</option>
                <option value="MKR" data-show=".MKR">Maker (MKR)</option>
                <option value="OMG" data-show=".OMG">OMG Network (OMG)</option>
                <option value="OXT" data-show=".OXT">Orchid (OXT)</option>
                <option value="XLM" data-show=".XLM">Stellar Lumens (XLM)</option>
                <option value="XTZ" data-show=".XTZ">Tezos (XTZ)</option>
                <option value="USDC" data-show=".USDC">USD Coin (USDC)</option>
                <option value="XRP" data-show=".XRP">Ripple (XRP)</option>
                <option value="ZEC" data-show=".ZEC">Zcash (ZEC)</option>
            </select>
            <DIV class="currencies row-cols-1" style="justify-content: center">
            <DIV class="ZRX hide" ><img src="/static/images/ZRX.png" style="width: 400px"/></br></br>0x0Ef9058698D32b012e311028474c4bf06e1Cf95C</DIV>
            <DIV CLASS="ALGO hide"><img src="/static/images/ALGO.png" style="width: 400px"/></br></br>QFI3ZR6T7MHX5TYNE3UOS2IBXIS6OEMLZNKU6X74KDNFIOKZTN4KGK7MKA </DIV>
            <DIV CLASS="REP hide" ><img src="/static/images/REP.png" style="width: 400px"/></br></br>0x44c0CEBF0F054de2ab621f64Fb82629cb56b5161 </DIV>
            <DIV CLASS="BAT hide" > <img src="/static/images/BAT.png" style="width: 400px"/></br></br>0x3750E1507F6d374FE241d711e1fA7f53afdd35B9</DIV>
            <DIV CLASS="BTC hide" > <img src="/static/images/BTC.png" style="width: 400px"/></br></br>38BaEqoxZGnEaZZSwiH4gUqbu3dsTdg1kZ</DIV>
            <DIV CLASS="BCH hide" > <img src="/static/images/BCH.png" style="width: 400px"/></br></br>126Cxk9NopvBZef8TcR4kntup6MXxkGGAy</DIV>
            <DIV CLASS="LINK hide" > <img src="/static/images/LINK.png" style="width: 400px"/></br></br>0x291810772eC53bb1652F9be22DB82Caf4a0742DA</DIV>
            <DIV CLASS="COMP hide" > <img src="/static/images/COMP.png" style="width: 400px"/></br></br>0x04980F089AbddF65952A01bEcc3201BD9e5311C5</DIV>
            <DIV CLASS="ATOM hide" > <img src="/static/images/ATOM.png" style="width: 400px"/></br></br>cosmos1z3963raxedtj2kjdfcktgd493708hajqpvyghr</DIV>
            <DIV CLASS="DAI hide" > <img src="/static/images/DAI.png" style="width: 400px"/></br></br>0xc1889ed5eeE003EEBb1F34b5049224F9749C3f74</DIV>
            <DIV CLASS="DASH hide" > <img src="/static/images/DASH.png" style="width: 400px"/></br></br>XktvTz7s5v9Uk6NG2DE9MWEBrm72Y9P4mx</DIV>
            <DIV CLASS="EOS hide" > <img src="/static/images/EOS.png" style="width: 400px"/></br></br>coinbasebase:::ucl:::1772564461</DIV>
            <DIV CLASS="ETH hide" > <img src="/static/images/ETH.png" style="width: 400px"/></br></br>0x2A2c21C4b9264B5F58bE4870199411e648f1AB63</DIV>
            <DIV CLASS="ETC hide" > <img src="/static/images/ETC.png" style="width: 400px"/></br></br>0x358E119df93cc64f1E9cF5385f0d3A62aCa2ED6b</DIV>
            <DIV CLASS="KNC hide" > <img src="/static/images/KNC.png" style="width: 400px"/></br></br>0x0D7a8513886eCF37b8aF5591A4dcA5DBfc6d8D32</DIV>
            <DIV CLASS="LTC hide" > <img src="/static/images/LTC.png" style="width: 400px"/></br></br>MVUAXDNqLSEUKF8gP52FB1nv9PPGqEinRW</DIV>
            <DIV CLASS="MKR hide" > <img src="/static/images/MKR.png" style="width: 400px"/></br></br>0x309659d81C72bC2c536b18980838C42a4ff0E508</DIV>
            <DIV CLASS="OMG hide" > <img src="/static/images/OMG.png" style="width: 400px"/></br></br>0x44ffbE3acd1BfF1E55d661463155373b60C1C55A</DIV>
            <DIV CLASS="OXT hide" > <img src="/static/images/OXT.png" style="width: 400px"/></br></br>0x8044110e4bA8887F551CdFebb53002af07b2f534</DIV>
            <DIV CLASS="XLM hide" > <img src="/static/images/XLM.png" style="width: 400px"/></br></br>GDQP2KPQGKIHYJGXNUIYOMHARUARCA7DJT5FO2FFOOKY3B2WSQHG4W37:::ucl:::3900021761</DIV>
            <DIV CLASS="XTZ hide" > <img src="/static/images/XTZ.png" style="width: 400px"/></br></br>tz1avbaVmz7PNDxnkegddPc3NpsmMPr4FMd5</DIV>
            <DIV CLASS="USDC hide" > <img src="/static/images/USDC.png" style="width: 400px"/></br></br>0x74764bf436726D51f317ae3ccbB7ebD24651AE06</DIV>
            <DIV CLASS="XRP hide" > <img src="/static/images/XRP.png" style="width: 400px"/></br></br>rw2ciyaNshpHe7bCHo4bRWq6pqqynnWKQg:::ucl:::2217462265</DIV>
            <DIV CLASS="ZEC hide" > <img src="/static/images/ZEC.png" style="width: 400px"/></br></br>t1geQaN7zSnQSNkou9Akurg44PGWmnhbids</DIV>
            </DIV>
            </div>

        </div>

    </div>

</div>
<form style="text-align:center" action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick" />
<input type="hidden" name="hosted_button_id" value="PT9DWH5DCECEA" />
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
<img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1" />
</form>

</body>
</html>