<!DOCTYPE html>
    <head>
    <meta http-equiv="refresh" content="60"/>
    <link rel="stylesheet" href="/static/styles.css"/>
    </head>
<html>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <table class="container">
        <thead>
        <tr>
            <th class="text-left">Ranking</th>
            <th class="text-left">Username</th>
            <th class="text-left">Balance</th>
        </tr>
        </thead>
        <tbody class="table-hover">
        {% for leader in leaders %}
            <tr>
                <td class="text-left">{{ loop.index }}</td>
                <td class="text-left"><a href="https://marketmayhem.io/users/{{ leader[0] }}">{{ leader[0] }}</a></td>
                <td class="text-left">{{ "${:,.2f}".format(leader[1]) }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
<br />
<div />
</html>
