<!DOCTYPE html>
    <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-146418431-3"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'UA-146418431-3');
        </script>
    <meta http-equiv="refresh" content="30"/>
    <link rel="stylesheet" href="/static/bootstrap.min.css"/>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    </head>
<html>
    <table class="table table-hover" style="width: 70%;
    margin: 0 auto !important;">
        <thead>
        <tr >
            <th >Shares</th>
            <th >Quantity</th>
            <th >Value</th>
        </tr>
        </thead>
        <tbody >
        <tr>
            <td >Total Account Value</td>
            <td >-</td>
            <td >{{ "${:,.2f}".format(total) }}</td>
        </tr>
        <tr>
            <td >Cash</td>
            <td >-</td>
            <td >{{ "${:,.2f}".format(cash) }}</td>
        </tr>
        {% for share in shares %}
            <tr>
                <td ><a href="https://www.google.com/search?q={{ share[0] | upper }}&tbm=fin" style="color: inherit;">${{ share[0] | upper }}</a></td>
                <td >{{( '%i' | format(share[1])) }}</td>
                <td >{{ "${:,.2f}".format(sharevalues[loop.index-1][1] * share[1]) }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

<br />
<h4 style="text-align:center">Fund Market Mayhem Development Here</h4> 
<form style="text-align:center" action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick" />
<input type="hidden" name="hosted_button_id" value="PT9DWH5DCECEA" />
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
<img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1" />
</form>
</html>
